.card {
  position: relative;
  width: 10rem;
  height: 10rem;
  background: #09090b;
  display: flex;
  place-content: center;
  place-items: center;
  overflow: hidden;
  border-radius: 20px;
}

.card::before {
  content: "";
  position: absolute;
  width: 100px;
  background: linear-gradient(180deg, #0369a1, #9f1239);
  height: 130%;
  animation: rotate 3s linear infinite;
  transition: all 0.2s linear;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.card::after {
  content: "";
  position: absolute;
  background: #09090bdf;
  inset: 5px;
  backdrop-filter: blur(5px);
  border-radius: 15px;
}
